.hero {
  padding: 10rem 0;
}

.hero-slide2 {
  background-image: url('../img/hero-slide2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 700px;
}

.hero-slide {
  background-image: url('../img/hero-slide.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 700px;
}


.hero-slide3 {
  background-image: url('../img/hero-slide3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 700px;
}

.hero h1 {
  font-size: 4rem;
  font-weight: lighter;
  width: 100%;
}

.hero p {
  width: 100%;
  padding: 2rem;
}

@media (min-width: 768px) {
  .hero h1 {
    width: 50%;
  }
  .hero p {
    width: 33%;
  }
}

.info {
  margin-top: 5rem;
  margin-bottom: 12rem;
}

.info h2 {
  padding: 0;
}

.info p {
  margin-bottom: 5rem;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}

.nav-link a:hover {
  color: #ffcc00;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-icons a {
  margin: 0 15px;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ffcc00;
}





.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


@media (min-width: 40em) {
  
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}